@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my test application</h1>
    <p>Its created for learning. In this project i want to increase my C#, .NET Core and azure skills. </p>
</div>
